input{
	position: absolute;
	width: 80%;
	height: 5%;
	left: 8%;
	border : solid;
	border: 0.2% ;
	border-color: green;
	background-color: gainsboro
	border-radius: 3px 3px 5px;
}
textarea{
	width: 80%;
	height: 10%;
	left: 8%;
	border : solid;
	border: 0.2% ;
	border-color: green;
	background-color: gainsboro
	border-radius: 3px 3px 5px;
}
label{
	margin-left: 1%;
}
#submit{
	width: 20%;
	margin-left: 5%;
}

#contac{
	width: 100%;
	min-height: 40%;
	background-position: end;
	background: url(sacha-styles-5490931.jpg);
	border: 3px solid #FFFFFF;
	background-size: 100%;
	box-sizing: border-box;
}
.gauche1{
	width: 40%;
	min-height: 10%;
	padding: 2%;
	float:left;
	box-sizing: border-box;
	
}
.gauche3{
	width: 40%;
	min-height: 10%;
	padding: 2%;
	float:left;
	box-sizing: border-box;
	
}

.droite1{
	width: 40%;
	min-height: 10%;
	padding: 2%;
	position: relative;
	float:right;
	box-sizing: border-box;
	 
}
.droite2{
	width: 40%;
	min-height: 10%;
	padding: 2%;
	position: relative;
	float:right;
	box-sizing: border-box;
	 
}
.droite3{
	width: 40%;
	min-height: 10%;
	padding: 2%;
	position: relative;
	float:right;
	box-sizing: border-box;
	 
}
.image{
	background-size: 100%;
	background-position: end;
	background-image: url(public/IMG_0819.png);
	width: 30%
	height: 100%;
}
.gauche2{
	width: 40%;
	min-height: 10%;
	padding: 2%;
	float:left;
	box-sizing: border-box;
	
}
button{
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
	color: #fff;
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
	padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button:hover{
	background-color: #3e1eb4;
	border-color: #2d0992;
}
.bando{
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 3px 3px 5px;
}
.bando2{
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 3px 3px 5px;
}
#joyd:hover,
#gamed:hover,
#superd:hover{
	color: rgb(185, 185, 3);	
}
#game{
	width: 100%;
	min-height: 40%;
	background-position: end;
	background: url(jeu.jpg);
	border: 3px solid #FFFFFF;
	background-size: 100%;
	box-sizing: border-box;
}
#url{
	color: rgba(59, 198, 253)
}
.droite5{
	width: 40%;
	min-height: 10%;
	padding: 2%;
	position: relative;
	float:right;
	box-sizing: border-box;
	 
}
.gauche5{
	width: 40%;
	min-height: 10%;
	padding: 2%;
	float:left;
	box-sizing: border-box;
	
}
.image5{
	width: 100%;
	
}
#chiffre{
	font-size: 0%;
}


.thumbnail {
	transition: all 1.5s ease-in-out;
  }
  .rotateX:hover {
	transform: rotateX(180deg);
  }
  .rotateY:hover {
	transform: rotateY(180deg);
  }
  .rotateZ:hover {
	transform: rotateZ(180deg);
  }
