/****GENERAL****/

body{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.8em;
	margin: 0px;
	padding: 0px;
	color: rgb(46, 46, 46)
}
h1{
	font-size: 43px;
	font-weight: normal;
	text-align: center;
}
h2{
	font-size: 35px;
	font-weight: normal;
	text-align: center;
}
	
.boutton{
	width: 50px;
	color: black;
	background-color: #2e3b91
	margin: 0px;
	padding: 0px;
}
.bras{
	
	text-align: left;
	width: 280px;
	background-color: rgba(255, 153, 0, 0.815);
	margin: 0px;
	padding: 0px;
	padding-top: 30px;
	padding-block-end: 30px;
}
.btexteras{
	
	text-align: left;
	width: 1000px;
	background-color: rgba(255, 153, 0, 0.815);
	margin: 0px;
	padding: 0px;
	padding-top: 30px;
	padding-block-end: 30px;
	left: 280px
}
.hey{
	text-decoration: none;
	list-style-type: none;
	font-size: 18px;
}
.ra{
	font-size: 12px;
	text-decoration: none;	
	color:rgb(27, 27, 27);
}
header{
	height: 140px;
}
footer{
	border: 4px;
	border: solid;
	border-color: white;
	min-height: 200px;
	width: 100%;
	padding-top: 0px;
	text-align: center;
	background-color: rgb(65, 116, 226);
	border-top: 2px solid rgb(65, 116, 226);
	color: #FFF;
	font-family: 'Anton', sans-serif;
	
	
}

/****text menu****/
nav li{
	list-style-type: none;
	float: left;
}
nav ul{
	margin: 0px;
	padding: 0px;
}
nav{
	width: 100%;
	background-color: rgb(0, 81, 255);
	border: 4px;
	border: solid;
	border-color: white;
}
nav a{
	font-family: 'Anton', sans-serif;
	display: inline-block;
	text-decoration: none;
	padding: 20px 40px;
	color: #FFF;
	text-transform: uppercase;
	font-size: 15px;
}



.gauche1{
	width: 40%;
	min-height: 10%;
	padding: 2%;
	float:left;
	box-sizing: border-box;
	
}
.gauche3{
	width: 40%;
	min-height: 10%;
	padding: 2%;
	float:left;
	box-sizing: border-box;
	
}

.droite1{
	width: 40%;
	min-height: 10%;
	padding: 2%;
	position: relative;
	float:right;
	box-sizing: border-box;
	 
}
.droite2{
	width: 40%;
	min-height: 10%;
	padding: 2%;
	position: relative;
	float:right;
	box-sizing: border-box;
	 
}
.droite3{
	width: 40%;
	min-height: 10%;
	padding: 2%;
	position: relative;
	float:right;
	box-sizing: border-box;
	 
}
.image{
	background-size: 100%;
	background-position: end;
	background-image: url(public/IMG_0819.png);
	width: 30%
	height: 100%;
}
.gauche2{
	width: 40%;
	min-height: 10%;
	padding: 2%;
	float:left;
	box-sizing: border-box;
	
}
button{
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
	color: #fff;
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
	padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button:hover{
	background-color: #3e1eb4;
	border-color: #2d0992;
}
.bando{
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 3px 3px 5px;
}
.bando2{
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 3px 3px 5px;
}











	
	
	
	
	
	
	
	
	
	
	
	
	