body,p,div,nav
{
    margin:0px;
    position:relative;
}
a{
    text-decoration:none;
    color:white;
}
body {
    background-color: #F29E0A;
    font-family: 'Roboto', sans-serif;
}
.encadrement {
    background-color: #333333;
    height: 3px;
    width: 100%;
    border-bottom: solid black 3px;
    border-top: solid black 3px;
}
header {
    background-color: #333333;
    color:white;
}
.titreHeader {
    display: inline-block;
    font-size: 30px;
    text-align: center;
    font-family: 'Anton', sans-serif;
    width: 40%;
    text-align: left;
    margin-left:10%;
}
.liensHeader {
    display: inline-block;
    width: 40%;
    text-align: right;
}
.bouttonLien {
    display: inline-block;
    margin-left: 20px;
    margin-top: -20px;
    padding-bottom: 10px;
    background-image: url("icon.png");
    background-size: 100%;
    width: 90px;
    height: 90px;
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size: 20px;
    line-height: 125px;
    white-space: nowrap;
    color: white;
}
.corpAvant {
    position: initial;
    background-image: url("background.png");
    background-size: 100%;
    width: 100%;
    background-attachment:initial;
    margin: 0px;
    font-family: 'Anton', sans-serif;
    text-align: right;
    font-size: 70px;
    border-top: 1px solid #656464;
    box-sizing: border-box;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    padding-right: 20px;
    background-repeat: no-repeat;
}
.texteTitre {
    height: 100%;
    margin-top: 20%;
    padding-bottom: 30%;
}
.paragraphe {
    border: solid white 5px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: #B15151;
}
.corpArriere {
    margin-top:1000px;
    position: relative;
    margin: 0px;
}
.middle {
    margin-top: 5%;
    margin-bottom: 5%;
    display: inline-block;
    height: 200px;
    width: 10px;
    background-color: white;
}
.gauche {
    text-align:center;
    margin:20px;
    display: inline-block;
    min-height: 10em;
    width: 45%;
    vertical-align: top;
}
.droite {
    margin: 20px;
    display: inline-block;
    min-height: 10em;
    width: 40%;
    vertical-align: top
}
footer {
    background-color: #333333;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align:center;
    color:white;
}
#arriere{
    height:10000px;
}



