.tete{
    width: 40%;
    height: 90%;
    margin: 0 auto;
    background-color: rgb(0, 0, 0,0.8);
    
    position: fixed;
    top:5%;
    left:30%;
    border: 1px;
    border-radius: 12px 12px 20px;
    

}
body{
    background-image: url("1438617991-wallhaven-91048.jpg")
}

.Titre{
    margin-top: 3%;
	font-size: 240%;
	font-weight: normal;
    text-align: center;
    font-family: 'Anton', sans-serif;
    color: white
}
.soustitre{
    margin-top: 3%;
	font-size: 180%;
	font-weight: normal;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: -10px;
    color: white
}
.paragraphe{
	font-size: 130%;
	font-weight: normal;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: -10px;
    color: white
}
.para{
	font-size: 20%;
	font-weight: normal;
    text-align: center;
    padding-top: -10px;
    color: white
}
.banniere{
    position: relative;
    
}
.svg-inline--fa{
    font-size: 100px ;
    color: white;
    margin: 0 auto;
    display: block;
  }
@media all and (orientation: portrait)
{   
    .svg-inline--fa{
        font-size: 80px ;
        color: white;
        margin: 0 auto;
        display: block;
      }
    .fond {
        background-image: url("1438617991-wallhaven-91048.jpg")
        transform: rotate(-90deg);
    }
    .tete{
        width: 60%;
        height: 50%;
        margin: 0 auto;
        background-color: rgba(0, 0, 0, 0.8);
        
        position: fixed;
        top:25%;
        left:20%;
        border: 1px;
        border-radius: 12px 12px 20px;
        
    
    }
    .Titre{
        
        font-size: 350%;
        font-weight: normal;
        text-align: center;
        font-family: 'Anton', sans-serif;
        color: white
    }
    .soustitre{
        font-size: 290%;
        font-weight: normal;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
        padding-top: -10px;
        color: white
    }
    .paragraphe{
        font-size: 170%;
        font-weight: normal;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
        padding-top: -10px;
        color: white
    }
    .para{
        font-size: 20%;
        font-weight: normal;
        text-align: center;
        padding-top: -10px;
        color: white
    }
    .banniere{
        position: relative;
        
    }
}
@media only screen and (max-width:1200px) {
    @import url("mediapetit.css");
}
@media only screen and (max-height:1200px){
    @import url("mediapetit.css");
}
#cuberouge1{
    background-color: rgba(255,0,0,.5);
    border: 0px;
    border-radius: 3px 3px 5px;
    position:fixed;
    transition : 0.5s;
    
    
}
#cubevert1{
    background-color: rgba(123, 255, 0, 0.5);
    border: 0px;
    border-radius: 3px 3px 5px;
    position:fixed;
    transition : 0.5s;
    
    
}
#cubebleu1{
    background-color: rgba(38, 0, 255, 0.5);
    border: 0px;
    border-radius: 3px 3px 5px;
    position:fixed;
    transition : 0.5s;
    
    
}
#cubeorange1{
    background-color: rgba(255, 123, 0, 0.5);
    border: 0px;
    border-radius: 3px 3px 5px;
    position:fixed;
    transition : 0.5s;
    
    
}



.cuberouge1-1{
    border: 1px solid black;  
    position:absolute;
    top :200px;
    left : 10%;
    
}
.cuberouge1-2{
    border: 1px solid black;  
    position:absolute;
    top :200px;
    right : 30%;
    
}
.cuberouge1-3{
    border: 1px solid black;  
    position:absolute;
    top :430px;
    right : 30%;
    
}
.cuberouge1-4{
    border: 1px solid black;  
    position:absolute;
    top :430px;
    right : 10%;
    
}
.cuberouge1-5{
    border: 1px solid black;  
    width: 100px;
    height: 100px;
    position:absolute;
    top :200px;
    right : 10%;
    
}
.cuberouge1-7{
    border: 1px solid black;  
    width: 100px;
    height: 100px;
    position:absolute;
    top :430px;
    left : 10%;
    
}
.cuberouge1-8{
    border: 1px solid black;  
    width: 100px;
    height: 100px;
    position:absolute;
    top :430px;
    left : 30%;
    
}
.cuberouge1-9{
    border: 1px solid black;  
    width: 100px;
    height: 100px;
    position:absolute;
    top :200px;
    left : 30%;
}