body{
  background-image: url("pattern.svg");
  background-size: 220px;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
html {
	scroll-behavior: smooth;
}
i{
  font-size: 1.6em;
  margin-left: 1vw;
}
a:hover{
  font-weight: bold;
  text-decoration: none;
}

.obg p, .obg a{
  font-family: 'Fira Sans', sans-serif;
  color: white;
}
.obg h2{
  font-family: 'Bebas Neue', cursive;
  font-size: 3em;
}

.deux5D p, .obg a{
  font-family: 'Fira Sans', sans-serif;
  color: white;
}
.deux5D h2{
  font-family: 'Bebas Neue', cursive;
  font-size: 3em;
  color: white
}


.navbar{
  z-index: 1;
  zoom : 2;
  margin: 0;
  padding-top: 1vh;
  font-family: 'Koulen', cursive;
  text-transform: uppercase;
}
.whiteColor,.whiteColor a{
  color: white;
}

.butt{
  position: fixed;
  color: white;
  bottom: 3vh;
  right: 3vh;
  font-size: 2em;
  transition: 0.1s;
}
.butt:hover{
  font-size: 2.2em;
  color: white
}

.title{
  color: white;
  text-transform: uppercase;
  font-family: 'Koulen', cursive;
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: 0.635;

  font-size: 7em;
  margin-left: 3vw;
}
.titleContainer{
  margin-top: 4.5vh;
}
.titleContainer hr{
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0.5rem;
  border-top: 4px solid white;
}

#imgOBG{
  height: 80vh;
  width: auto;
}

.btn{
  font-size: 1.1em;
  font-weight: bold;
}

.dropdown-menu{
  background-color: #242424;
  color: white;
}
.imgPlanete{
  margin-top: -12vh;
}

.Page{
  height: 100vh;
}

.Page .leftPage {
  margin-top: 100px;
  position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    width: 50%;
}
.Page .rightPage {
    margin-left:50%;
    margin-top: 100px;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    width: 50%;
}

.leftPage{
  color: white;
}
.leftPage .center{
  position: relative;
  margin-left: 4vw;
}
.card-deck{
  display: table;
}
.card-deck a{
  color: white;
}
.card-deck a:hover{
  color: white;
  text-decoration: none;
}
.card-deck .card{
  text-transform: uppercase;
    font-family: 'Koulen', cursive;
  background-color: rgba(0,0,0,0);
  margin: 2vw;
  border-radius: 0;
  flex: none;
  display: inline-block;
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
  width: 13vw;
  height: 13vw;
  text-align: center;
  border-spacing: 20px;
}
.card-deck .card:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 3px solid white;
  background-color: rgba(0,0,0,0.3);
}

.ParentBlock{
  width: 100%;
  display: flex;
}
.ParentBlock .left, .ParentBlock .right{
  width: 50vw;
  height: 85vh;
  color: white;
}

center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.normalBlock{
  font-size: 1.4em;
  padding: 3vw;
}


body::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #242424;
}

body::-webkit-scrollbar
{
  width: 12px;
  background-color: #242424;
}

body::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #0d0d0d;
}
