body
{
    background-color:forestgreen;
    text-align:center;
}
td {
    text-align: center;
    width: 90px;
    height: 90px;
}

header{
    text-align:center;
    font-size: 20px;
    margin: 20px;
}
.cube,.cube0, .cube1, .cube2, .cube3, .cube4, .cube5, .cube6, .cube7, .cube8,.cube9,.cube10 {
    width: 90px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    background-size:100%;
}
    .cube:hover, .cube0:hover, .cube2:hover, .cube3:hover, .cube4:hover, .cube5:hover, .cube6:hover, .cube7:hover, .cube8:hover, .cube9:hover, .cube10:hover {
        border: solid black 1px;
    }
.cube {
    background-color: darkslategray;
}
.cube0 {
    background-color: darkgray;
}
.cube1 {
    background-image: url("residence1.png");
}
.cube2 {
    background-color: blueviolet;
}
.cube3 {
    background-color: deeppink;
}
.cube4 {
    background-color: blue;
}
.cube5 {
    background-color: darkcyan;
}
.cube6 {
    background-color: orange;
}
.cube7 {
    background-color: red;
}
.cube8 {
    background-color: brown;
}
.cube9 {
    background-color: beige;
}
.cube10 {
    background-color: black;
}
#market {
    background-color: rgba(0, 147, 255, 0.8);
    position: fixed;
    top: 0px;
    left: 0px;
    visibility: hidden;
    width: 100%;
    height: 100%;
    padding-top: 105px;
}
#buldozer {
    background-color: rgba(0, 147, 255, 0.8);
    position: fixed;
    top: 0px;
    left: 0px;
    visibility: hidden;
    width: 100%;
    height: 100%;
    padding-top: 105px;
}
.liste{
    display: inline-block;
}
.terrain{
    display:inline-block;
}

