body, html{
  margin: 0;
  padding: 0;
  height: 500%;
  background-color: #171717;
  image-rendering: pixelated;
}

/* Style the header: fixed position (always stay at the top) */
.footer {
  position: fixed;
  bottom:  0;
  z-index: 1;
  width: 100%;
  height: 5%;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 15px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 15px;
  background: #81b29a;
  width: 0%;
}

#moon{
  position: fixed;
  top: 10%;
  left: 70%;
  width: 10%;
  height: auto;
    transition: 0.5s;
}
#rocket{
  position: fixed;
  top: 10%;
  left: 63%;
  width: 10%;
  height: auto;
  z-index: 10;
  transition: 0.5s;
  transform: rotate(-90deg) scale(0.8);
}

#imgPerso{
  width: 5%;
  height: 100%;
  margin-top: -15px;
  position: relative;
  background-image: url("NAMKA/Idle.png");
  background-size:auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  transition:left 0.5s linear;
}
