.tete{
    width: 40%;
    height: 90%;
    margin: 0 auto;
    background-color: rgb(0, 0, 0,0.8);
    
    position: fixed;
    top:5%;
    left:30%;
    border: 1px;
    border-radius: 12px 12px 20px;
    

}
body{
    {
        "id": "Dwu85P9SOIk",
        "created_at": "2016-05-03T11:00:28-04:00",
        "updated_at": "2016-07-10T11:00:01-05:00",
        "width": 2448,
        "height": 3264,
        "color": "#6E633A",
        "downloads": 1345,
        "likes": 24,
        "liked_by_user": false,
        "description": "A man drinking a coffee.",
        "exif": {
          "make": "Canon",
          "model": "Canon EOS 40D",
          "exposure_time": "0.011111111111111112",
          "aperture": "4.970854",
          "focal_length": "37",
          "iso": 100
        },
        "location": {
          "city": "Montreal",
          "country": "Canada",
          "position": {
            "latitude": 45.4732984,
            "longitude": -73.6384879
          }
        },
        "current_user_collections": [ // The *current user's* collections that this photo belongs to.
          {
            "id": 206,
            "title": "Makers: Cat and Ben",
            "published_at": "2016-01-12T18:16:09-05:00",
            "updated_at": "2016-07-10T11:00:01-05:00",
            "curated": false,
            "cover_photo": {
              "id": "xCmvrpzctaQ",
              "width": 7360,
              "height": 4912,
              "color": "#040C14",
              "likes": 12,
              "liked_by_user": false,
              "description": "A man drinking a coffee.",
              "user": {
                "id": "eUO1o53muso",
                "username": "crew",
                "name": "James Example",
                "first_name": "James",
                "last_name": "Example",
                "twitter_username": "crew",
                "portfolio_url": "https://crew.co/",
                "bio": "Work with the best designers and developers without breaking the bank.",
                "location": "Montreal",
                "total_likes": 0,
                "total_photos": 74,
                "total_collections": 52,
                "profile_image": {
                  "small": "https://images.unsplash.com/profile-1441298102341-b7ba36fdc35c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&fit=crop&h=32&w=32",
                  "medium": "https://images.unsplash.com/profile-1441298102341-b7ba36fdc35c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&fit=crop&h=64&w=64",
                  "large": "https://images.unsplash.com/profile-1441298102341-b7ba36fdc35c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&fit=crop&h=128&w=128"
                },
                "links": {
                  "self": "https://api.unsplash.com/users/crew",
                  "html": "http://unsplash.com/crew",
                  "photos": "https://api.unsplash.com/users/crew/photos",
                  "likes": "https://api.unsplash.com/users/crew/likes",
                  "portfolio": "https://api.unsplash.com/users/crew/portfolio"
                }
              },
              "urls": {
                "raw":  "https://images.unsplash.com/photo-1452457807411-4979b707c5be",
                "full": "https://images.unsplash.com/photo-1452457807411-4979b707c5be?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy",
                "regular": "https://images.unsplash.com/photo-1452457807411-4979b707c5be?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max",
                "small": "https://images.unsplash.com/photo-1452457807411-4979b707c5be?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=400&fit=max",
                "thumb": "https://images.unsplash.com/photo-1452457807411-4979b707c5be?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=200&fit=max"
              },
              "categories": [
                {
                  "id": 6,
                  "title": "People",
                  "photo_count": 9844,
                  "links": {
                    "self": "https://api.unsplash.com/categories/6",
                    "photos": "https://api.unsplash.com/categories/6/photos"
                  }
                }
              ],
              "links": {
                "self": "https://api.unsplash.com/photos/xCmvrpzctaQ",
                "html": "https://unsplash.com/photos/xCmvrpzctaQ",
                "download": "https://unsplash.com/photos/xCmvrpzctaQ/download",
                "download_location": "https://api.unsplash.com/photos/xCmvrpzctaQ/download"
              }
            },
            "user": {
              "id": "eUO1o53muso",
              "updated_at": "2016-07-10T11:00:01-05:00",
              "username": "crew",
              "updated_at": "2016-07-10T11:00:01-05:00",
              "name": "Crew",
              "portfolio_url": "https://crew.co/",
              "bio": "Work with the best designers and developers without breaking the bank.",
              "location": "Montreal",
              "total_likes": 0,
              "total_photos": 74,
              "total_collections": 52,
              "profile_image": {
                "small": "https://images.unsplash.com/profile-1441298102341-b7ba36fdc35c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&fit=crop&h=32&w=32",
                "medium": "https://images.unsplash.com/profile-1441298102341-b7ba36fdc35c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&fit=crop&h=64&w=64",
                "large": "https://images.unsplash.com/profile-1441298102341-b7ba36fdc35c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&fit=crop&h=128&w=128"
              },
              "links": {
                "self": "https://api.unsplash.com/users/crew",
                "html": "https://unsplash.com/crew",
                "photos": "https://api.unsplash.com/users/crew/photos",
                "likes": "https://api.unsplash.com/users/crew/likes",
                "portfolio": "https://api.unsplash.com/users/crew/portfolio"
              }
            },
            "links": {
              "self": "https://api.unsplash.com/collections/206",
              "html": "https://unsplash.com/collections/206",
              "photos": "https://api.unsplash.com/collections/206/photos"
            }
          },
          // ... more collections
        ],
        "urls": {
          "raw": "https://images.unsplash.com/photo-1417325384643-aac51acc9e5d",
          "full": "https://images.unsplash.com/photo-1417325384643-aac51acc9e5d?q=75&fm=jpg",
          "regular": "https://images.unsplash.com/photo-1417325384643-aac51acc9e5d?q=75&fm=jpg&w=1080&fit=max",
          "small": "https://images.unsplash.com/photo-1417325384643-aac51acc9e5d?q=75&fm=jpg&w=400&fit=max",
          "thumb": "https://images.unsplash.com/photo-1417325384643-aac51acc9e5d?q=75&fm=jpg&w=200&fit=max"
        },
        "categories": [
          {
            "id": 4,
            "title": "Nature",
            "photo_count": 24783,
            "links": {
              "self": "https://api.unsplash.com/categories/4",
              "photos": "https://api.unsplash.com/categories/4/photos"
            }
          }
        ],
        "links": {
          "self": "https://api.unsplash.com/photos/Dwu85P9SOIk",
          "html": "https://unsplash.com/photos/Dwu85P9SOIk",
          "download": "https://unsplash.com/photos/Dwu85P9SOIk/download"
          "download_location": "https://api.unsplash.com/photos/Dwu85P9SOIk/download"
        },
        "user": {
          "id": "QPxL2MGqfrw",
          "updated_at": "2016-07-10T11:00:01-05:00",
          "username": "exampleuser",
          "name": "Joe Example",
          "portfolio_url": "https://example.com/",
          "bio": "Just an everyday Joe",
          "location": "Montreal",
          "total_likes": 5,
          "total_photos": 10,
          "total_collections": 13,
          "links": {
            "self": "https://api.unsplash.com/users/exampleuser",
            "html": "https://unsplash.com/exampleuser",
            "photos": "https://api.unsplash.com/users/exampleuser/photos",
            "likes": "https://api.unsplash.com/users/exampleuser/likes",
            "portfolio": "https://api.unsplash.com/users/exampleuser/portfolio"
          }
        }
      }
}

.Titre{
    margin-top: 3%;
	font-size: 240%;
	font-weight: normal;
    text-align: center;
    font-family: 'Anton', sans-serif;
    color: white
}
.soustitre{
    margin-top: 3%;
	font-size: 180%;
	font-weight: normal;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: -10px;
    color: white
}
.paragraphe{
	font-size: 130%;
	font-weight: normal;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: -10px;
    color: white
}
.para{
	font-size: 20%;
	font-weight: normal;
    text-align: center;
    padding-top: -10px;
    color: white
}
.banniere{
    position: relative;
    
}
.svg-inline--fa{
    font-size: 100px ;
    color: white;
    margin: 0 auto;
    display: block;
  }
@media all and (orientation: portrait)
{   
    .svg-inline--fa{
        font-size: 80px ;
        color: white;
        margin: 0 auto;
        display: block;
      }
    .fond {
        background-image: url("1438617991-wallhaven-91048.jpg")
        transform: rotate(-90deg);
    }
    .tete{
        width: 60%;
        height: 50%;
        margin: 0 auto;
        background-color: rgba(0, 0, 0, 0.8);
        
        position: fixed;
        top:25%;
        left:20%;
        border: 1px;
        border-radius: 12px 12px 20px;
        
    
    }
    .Titre{
        
        font-size: 350%;
        font-weight: normal;
        text-align: center;
        font-family: 'Anton', sans-serif;
        color: white
    }
    .soustitre{
        font-size: 290%;
        font-weight: normal;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
        padding-top: -10px;
        color: white
    }
    .paragraphe{
        font-size: 170%;
        font-weight: normal;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
        padding-top: -10px;
        color: white
    }
    .para{
        font-size: 20%;
        font-weight: normal;
        text-align: center;
        padding-top: -10px;
        color: white
    }
    .banniere{
        position: relative;
        
    }
}
@media only screen and (max-width:1200px) {
    .svg-inline--fa{
        font-size: 0px ;
        
      }
    .fond {
        background-image: url("1438617991-wallhaven-91048.jpg")
        transform: rotate(-90deg);
    }
    .tete{
        width: 70%;
        height: 80%;
        margin: 0 auto;
        background-color: rgba(0, 0, 0, 0.8);
        
        position: fixed;
        top:10%;
        left:15%;
        border: 1px;
        border-radius: 12px 12px 20px;
        
    
    }
    .Titre{
        padding-top: 0%;
        font-size: 150%;
        font-weight: normal;
        text-align: center;
        font-family: 'Anton', sans-serif;
        color: white
    }
    .soustitre{
        font-size: 120%;
        font-weight: normal;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
        padding-top: -10px;
        color: white
    }
    .paragraphe{
        font-size: 70%;
        font-weight: normal;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
        padding-top: -10px;
        color: white
    }
    .para{
        font-size: 20%;
        font-weight: normal;
        text-align: center;
        padding-top: -10px;
        color: white
    }
    .banniere{
        position: relative;
        
    }
}
@media only screen and (max-height:500px){
    .svg-inline--fa{
        font-size: 0px ;
        
      }
    .fond {
        background-image: url("1438617991-wallhaven-91048.jpg")
        transform: rotate(-90deg);
    }
    .tete{
        width: 70%;
        height: 80%;
        margin: 0 auto;
        background-color: rgba(0, 0, 0, 0.8);
        
        position: fixed;
        top:10%;
        left:15%;
        border: 1px;
        border-radius: 12px 12px 20px;
        
    
    }
    .Titre{
        padding-top: 0%;
        font-size: 150%;
        font-weight: normal;
        text-align: center;
        font-family: 'Anton', sans-serif;
        color: white
    }
    .soustitre{
        font-size: 120%;
        font-weight: normal;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
        padding-top: -10px;
        color: white
    }
    .paragraphe{
        font-size: 70%;
        font-weight: normal;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
        padding-top: -10px;
        color: white
    }
    .para{
        font-size: 20%;
        font-weight: normal;
        text-align: center;
        padding-top: -10px;
        color: white
    }
    .banniere{
        position: relative;
        
    }
}
@media only screen and (max-height:400px){
    .svg-inline--fa{
        font-size: 0px ;
        
      }
    .fond {
        background-image: url("1438617991-wallhaven-91048.jpg")
        transform: rotate(-90deg);
    }
    .tete{
        width: 70%;
        height: 80%;
        margin: 0 auto;
        background-color: rgba(0, 0, 0, 0.8);
        
        position: fixed;
        top:10%;
        left:15%;
        border: 1px;
        border-radius: 12px 12px 20px;
        
    
    }
    .Titre{
        margin-top: 0%;
        font-size: 150%;
        font-weight: normal;
        text-align: center;
        font-family: 'Anton', sans-serif;
        color: white
    }
    .soustitre{
        font-size: 120%;
        font-weight: normal;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
        padding-top: -10px;
        color: white
    }
    .paragraphe{
        font-size: 70%;
        font-weight: normal;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
        padding-top: -10px;
        color: white
    }
    .para{
        font-size: 20%;
        font-weight: normal;
        text-align: center;
        padding-top: -10px;
        color: white
    }
    .banniere{
        position: relative;
        
    }
}
@media only screen and (max-height:700px){
    .svg-inline--fa{
        font-size: 0px ;
        
      }
    .fond {
        background-image: url("1438617991-wallhaven-91048.jpg")
        transform: rotate(-90deg);
    }
    .tete{
        width: 70%;
        height: 80%;
        margin: 0 auto;
        background-color: rgba(0, 0, 0, 0.8);
        
        position: fixed;
        top:10%;
        left:15%;
        border: 1px;
        border-radius: 12px 12px 20px;
        
    
    }
    .Titre{
        padding-top: 0%;
        font-size: 150%;
        font-weight: normal;
        text-align: center;
        font-family: 'Anton', sans-serif;
        color: white
    }
    .soustitre{
        font-size: 120%;
        font-weight: normal;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
        padding-top: -10px;
        color: white
    }
    .paragraphe{
        font-size: 70%;
        font-weight: normal;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
        padding-top: -10px;
        color: white
    }
    .para{
        font-size: 20%;
        font-weight: normal;
        text-align: center;
        padding-top: -10px;
        color: white
    }
    .banniere{
        position: relative;
        
    }
}
@media only screen and (max-width:800px){
    .svg-inline--fa{
        font-size: 0px ;
        
      }
    .fond {
        background-image: url("1438617991-wallhaven-91048.jpg")
        transform: rotate(-90deg);
    }
    .tete{
        width: 70%;
        height: 80%;
        margin: 0 auto;
        background-color: rgba(0, 0, 0, 0.8);
        
        position: fixed;
        top:10%;
        left:15%;
        border: 1px;
        border-radius: 12px 12px 20px;
        
    
    }
    .Titre{
        padding-top: 0%;
        font-size: 100%;
        font-weight: normal;
        text-align: center;
        font-family: 'Anton', sans-serif;
        color: white;
    }
    .soustitre{
        font-size: 120%;
        font-weight: normal;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
        padding-top: -10px;
        color: white;
    }
    .paragraphe{
        font-size: 70%;
        font-weight: normal;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
        padding-top: -10px;
        color: white;
    }
    .para{
        font-size: 20%;
        font-weight: normal;
        text-align: center;
        padding-top: -10px;
        color: white;
    }
    .banniere{
        position: relative;
        
    }
}
#cuberouge1{
    background-color: rgba(255,0,0,.5);
    border: 0px;
    border-radius: 3px 3px 5px;
    position:fixed;
    transition : 0.5s;
    
    
}
#cubevert1{
    background-color: rgba(123, 255, 0, 0.5);
    border: 0px;
    border-radius: 3px 3px 5px;
    position:fixed;
    transition : 0.5s;
    
    
}
#cubebleu1{
    background-color: rgba(38, 0, 255, 0.5);
    border: 0px;
    border-radius: 3px 3px 5px;
    position:fixed;
    transition : 0.5s;
    
    
}
#cubeorange1{
    background-color: rgba(255, 123, 0, 0.5);
    border: 0px;
    border-radius: 3px 3px 5px;
    position:fixed;
    transition : 0.5s;
    
    
}
@media only screen and (max-width:310px){
    .svg-inline--fa{
        font-size: 0px ;
        
      }
    .fond {
        background-image: url("1438617991-wallhaven-91048.jpg")
        transform: rotate(-90deg);
    }
    .tete{
        width: 70%;
        height: 80%;
        margin: 0 auto;
        background-color: rgba(0, 0, 0, 0.8);
        
        position: fixed;
        top:10%;
        left:15%;
        border: 1px;
        border-radius: 12px 12px 20px;
        
    
    }
    .Titre{
        padding-top: 0%;
        font-size: 120%;
        font-weight: normal;
        text-align: center;
        font-family: 'Anton', sans-serif;
        color: white
    }
    .soustitre{
        font-size: 100%;
        font-weight: normal;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
        padding-top: -10px;
        color: white
    }
    .paragraphe{
        font-size: 60%;
        font-weight: normal;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
        padding-top: -10px;
        color: white
    }
    .para{
        font-size: 20%;
        font-weight: normal;
        text-align: center;
        padding-top: -10px;
        color: white
    }
    .banniere{
        position: relative;
        
    }
}


