
@media only screen and (max-width:1200px) {
    .logo {
        width: 0px;
        margin-left: -175px;
        top: 300px;
    }
    .fondtab {
        height: 200px;
    }
    .texteintro {
        font-size: 25px;
    }
    .textetabbasdroite {
        font-size: 25px;
    }
    .textetabbasgauche {
        font-size: 25px;
    }
}

@media only screen and (max-width:2000px) {
    .texteintro{
        font-size: 25px;
    }
}
@media only screen and (max-width:1500px) {
    .texteintro{
        font-size: 20px;
    }
}
@media only screen and (max-width:1200px) {
    .texteintro{
        font-size: 28px;
    }
    .droite {
        float: none;
        width: 100%;
    }
    .gauche {
        float: none;
        width: 100%;
    }
    .milieu{
        float: none;
    }
}

@media only screen and (min-width:2000px) {
    .logo {
        width: 500px;
        margin-left: -250px;
        top: 130px;
    }
}

@media only screen and (max-width:475px) {
    .textetabbasgauche {
        font-size: 0%;
    }
    .textetabbasdroite {
        font-size: 0%;
    }
    .imagetab {
        padding: 0%;
        margin-top: 10px;
        margin-bottom: -10px;
        margin-left: 10px;
        background-image: url(liste.png);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
    }
}