#lienhaut {
    text-decoration: none;
}

#titrehaut {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Paytone One', sans-serif;
    Text-Align: Center;
    color: rgb(255, 255, 255);
    font-size: 2.5em;
    margin-block-end: -12px
}

.logo {
    width: 400px;
    height: auto;
    position: absolute;
    top: 210px;
    margin-left: -200px;
    text-align: center;
}
@media only screen and (max-width:1000px) {
    .logo {
        width: 300px;
        margin-left: -150px;
        top: 300px;
    }
}
@media only screen and (max-width:1200px) {
    .logo {
        width: 350px;
        margin-left: -175px;
        top: 300px;
    }
}
@media only screen and (max-width:900px) {
    .logo {
        width: 0px;
        margin-left: -150px;
        top: 300px;
    }
}
@media only screen and (min-width:2000px) {
    .logo {
        width: 600px;
        margin-left: -300px;
        top: 130px;
    }
}
.textetabbasgauche {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 2em;
    text-align: left;
    margin-left: 15px;
    color: rgb(255, 255, 255);
    margin-block-start: 0px;
    margin-block-end: 0px;
    display: inline-block;
}
.textetabbasdroite {
    text-align: right;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 2em;
    margin-right: 15px;
    color: rgb(255, 255, 255);
    margin-block-start: 0px;
    margin-block-end: 0px;
    display: inline-block;
}

.tabhaut {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 15%;
    background-color: black;
}

.tabbas {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: black;
}

.fondtab {
    background-image: url(fondtab.png);
    width: 100%;
    height: 400px;
    background-position-y: 50%;
    margin: 0;
    padding: 0;
}

nav {
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 720px;
}