#lienhaut {
    text-decoration: none;
}

#titrehaut {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Paytone One', sans-serif;
    Text-Align: Center;
    color: rgb(255, 255, 255);
    font-size: 2.5em;
    margin-block-end: -12px
}

.logo {
    margin: 0;
    padding: 0;
    width: 400px;
    height: auto;
    position: absolute;
    top: 210px;
    margin-left: -200px;
    text-align: center;
}



@media only screen and (max-width:1200px) {
    .logo {
        width: 0px;
        margin-left: -175px;
        top: 300px;
    }
}


@media only screen and (min-width:2000px) {
    .logo {
        width: 500px;
        margin-left: -250px;
        top: 130px;
    }
}

.textetabbasgauche {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 2em;
    text-align: left;
    margin-left: 15px;
    color: rgb(255, 255, 255);
    margin-block-start: 0px;
    margin-block-end: 0px;
    display: inline-block;
}

.textetabbasdroite {
    text-align: right;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 2em;
    margin-right: 15px;
    color: rgb(255, 255, 255);
    margin-block-start: 0px;
    margin-block-end: 0px;
    display: inline-block;
}

.tabhaut {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 15%;
    background-color: black;
    vertical-align: top;
}

.tabbas {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: black;
    vertical-align: top;
}

.fondtab {
    background-image: url(fondtab.png);
    width: 100%;
    height: 400px;
    background-position-y: 50%;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

html,
body {
    margin: 0;
    padding: 0;
    vertical-align: top;
}

nav {
    margin: 0;
    padding: 0;
    background-color: #EB5757;
    vertical-align: top;
}

.intro {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #343232;
    vertical-align: top;
    display: inline-block;
}

p {
    margin: 0;
    padding: 0;
}

.droite {
    float: right;
    width: 50%;
    text-align: center;
}

.gauche {
    float: left;
    width: 50%;
    text-align: center;
}

.bandohorisontal {
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: #EB5757;
    height: 7px;
}
.textestrong{
    text-decoration: none;
    color:#EB5757;
}
.textecentrer{
    width: 60%;
}
.texteintro {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-block-start: 0px;
    margin-block-end: 0px;
    display: inline-block;
    margin-top: -15px;
    margin-bottom: -15px;
}
.lienvisible{
    text-decoration: none;
    color: #2D9CDB;

}
.transaction{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 5px;
    background-color: black;
}
.corp{
    width: 80%;
    background-color: #343232;
    margin: 0;
    padding: 0;
    border-right: solid black 5px;
    float: left;
}
.bardroite{
    width: calc(20% - 5px);
    background-color: #343232;
    padding: 0;
    float: right;

}
h1{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
    color: white;
}
.pagecontent{
    display: inline-block;
}
.grandtitre{
    width: 80%;
    height: auto;
    background: #EB5757;
    margin: 50px;
    border: solid #EB5757;
    border-radius: 3px 3px 2px;
}
#titre{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.titre2{
    display: inline-block;
}
.blokpage{
    height: 40px;
    width: 6px;
    background-color: #EB5757;
    float: left;
}
.textetitre2{
    margin-bottom: 5px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    float: right;
    position: relative;
    margin-left: 5px;
    margin-top: -4px;
}
.nodeDescription{
    font-size: 0em;
}
.grandtitre:hover ~ .nodeDescription{
    width: 80%;
    height: auto;
    background: #EB5757;
    margin: 50px;
    border: solid #EB5757;
    border-radius: 3px 3px 2px;
    margin-bottom: 5px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    float: center;
    position: relative;
}
.nodeLastPost{
    width: 25%;
    height: auto;
    margin: 50px;
    border: solid rgb(101, 101, 101);
    border-radius: 3px 3px 2px;
    margin-bottom: 5px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    float: right;
    position: relative;
}
a{
    text-decoration: none;
    color: #2D9CDB;
}
h1,h2,h3,li,dl,div{
    color:white;
}
