@charset "UTF-8";

/* --- bb_code.css --- */

/* .bbCodeX classes are designed to exist inside .baseHtml. ie: they have no CSS reset applied */
navTab
.bbCodeBlock
{
	margin: 1em 140px 1em 0;
border: 1px solid rgb(210, 210, 210);

}

	.bbCodeBlock .bbCodeBlock,
	.hasJs .bbCodeBlock .bbCodeSpoilerText,
	.messageList.withSidebar .bbCodeBlock
	{
		margin-right: 0;
	}

	/* mini CSS reset */
	.bbCodeBlock pre,
	.bbCodeBlock blockquote
	{
		margin: 0;
	}
	
	.bbCodeBlock img
	{
		border: none;
	}

.bbCodeBlock .type
{
	font-weight: bold;
font-size: 11px;
font-family: Helvetica, Arial, sans-serif;
color: rgb(81, 81, 81);
background-color: rgb(210, 210, 210);
padding: 3px 8px;
border-bottom: 3px solid rgb(216, 68, 68);

}

.bbCodeBlock pre,
.bbCodeBlock .code
{
	font-size: 10pt;
font-family: Consolas, 'Courier New', Courier, monospace;
background-color: rgb(233, 233, 233);
padding: 10px;
-webkit-border-radius: 0; -moz-border-radius: 0; -khtml-border-radius: 0; border-radius: 0;
word-wrap: normal;
overflow: auto;
line-height: 1.24;
min-height: 30px;
max-height: 500px;
_width: 600px;
direction: ltr;

}

.bbCodeBlock .code
{
	white-space: nowrap;
}

.bbCodeQuote
{
	border-color: rgb(236, 236, 236);
overflow: auto;

}

.bbCodeQuote .attribution
{
	font-family: @majorfont;
color: rgb(79, 79, 79);
background: rgb(236, 236, 236) none;
border-bottom-width: 1px;
border-bottom-style: none;
border-left: 3px solid rgb(216, 68, 68);
-webkit-border-radius: 0; -moz-border-radius: 0; -khtml-border-radius: 0; border-radius: 0;
text-transform: uppercase;
font-weight: @fontweight;

}

.bbCodeQuote .quoteContainer
{
	overflow: hidden;
	position: relative;
	
	font-style: italic;
font-size: 9pt;
background-color: rgb(254, 253, 253);
padding: 10px;
border-left: 3px solid rgb(216, 68, 68);

}


	.bbCodeQuote .quoteContainer .quote
	{
		max-height: 150px;
		overflow: hidden;
		padding-bottom: 1px;
	}
	
		.NoJs .bbCodeQuote .quoteContainer .quote
		{
			max-height: none;
		}

	.bbCodeQuote .quoteContainer .quoteExpand
	{		
		display: none;
		-webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;
		position: absolute;
		height: 80px;
		top: 90px;
		left: 0;
		right: 0;
		
		font-size: 11px;
		line-height: 1;
		text-align: center;
		color: rgb(247, 246, 245);
		cursor: pointer;
		padding-top: 65px;
		background: -webkit-linear-gradient(top, rgba(254, 253, 253, 0) 0%, rgb(254, 253, 253) 80%);
		background: -moz-linear-gradient(top, rgba(254, 253, 253, 0) 0%, rgb(254, 253, 253) 80%);
		background: -o-linear-gradient(top, rgba(254, 253, 253, 0) 0%, rgb(254, 253, 253) 80%);
		background: linear-gradient(to bottom, rgba(254, 253, 253, 0) 0%, rgb(254, 253, 253) 80%);
		
		border-bottom-left-radius: ;
		border-bottom-right-radius: ;
	}
	
	.bbCodeQuote .quoteContainer .quoteExpand.quoteCut
	{
		display: block;
	}
	
	.bbCodeQuote .quoteContainer.expanded .quote
	{
		max-height: none;
	}
	
	.bbCodeQuote .quoteContainer.expanded .quoteExpand
	{
		display: none;
	}


	.bbCodeQuote img
	{
		max-height: 150px;
	}
	
	.bbCodeQuote iframe,
	.bbCodeQuote object,
	.bbCodeQuote embed
	{
		max-width: 200px;
		max-height: 150px;
	}
	
	.bbCodeQuote iframe:-webkit-full-screen
	{
		max-width: none;
		max-height: none;
	}
	
	.bbCodeQuote iframe:-moz-full-screen
	{
		max-width: none;
		max-height: none;
	}
	
	.bbCodeQuote iframe:-ms-fullscreen
	{
		max-width: none;
		max-height: none;
	}
	
	.bbCodeQuote iframe:fullscreen
	{
		max-width: none;
		max-height: none;
	}
	
.bbCodeSpoilerButton
{
	margin: 5px 0;
	max-width: 99%;
}

	.bbCodeSpoilerButton > span
	{
		display: inline-block;
		max-width: 100%;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	
.hasJs .bbCodeSpoilerText
{
	display: none;
	background-color: rgb(233, 233, 233);
padding: 5px;
margin-top: 5px;
margin-right: 140px;
margin-bottom: 5px;
border: 1px solid rgb(210, 210, 210);
-webkit-border-radius: 5px; -moz-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px;
overflow: auto;

}

	.hasJs .bbCodeSpoilerText .bbCodeSpoilerText,
	.hasJs .bbCodeSpoilerText .bbCodeBlock,
	.hasJs .messageList.withSidebar .bbCodeSpoilerText
	{
		margin-right: 0;
	}
	
.NoJs .bbCodeSpoilerContainer
{
	background-color: rgb(20,20,20); /* fallback for browsers without currentColor */
	background-color: currentColor;
}

	.NoJs .bbCodeSpoilerContainer > .bbCodeSpoilerText
	{
		visibility: hidden;
	}

	.NoJs .bbCodeSpoilerContainer:hover
	{
		background-color: transparent;
	}
	
		.NoJs .bbCodeSpoilerContainer:hover > .bbCodeSpoilerText
		{
			visibility: visible;
		}


@media (max-width:800px)
{
	.Responsive .bbCodeBlock,
	.Responsive.hasJs .bbCodeSpoilerText
	{
		margin-right: 0;
	}
}


/* --- node_list.css --- */

.nodeList { zoom: 1; }
.nodeList .node {
	zoom: 1;
	vertical-align: bottom;
}

.nodeList .node.level_1
{
	margin-bottom: 20px;
}

.nodeList .node.level_1:last-child
{
	margin-bottom: 0;
}

.nodeList .node.groupNoChildren + .node.groupNoChildren
{
	margin-top: -20px;
}

.node .nodeInfo
{
	overflow: hidden; zoom: 1;
	position: relative;
}

	.node .nodeInfo.primaryContent,
	.node .nodeInfo.secondaryContent
	{
		padding: 0;
	}

.node .nodeIcon
{
	margin: 10px 0 10px 10px;
float: left;
font-family: FontAwesome;
font-weight: normal;
line-height: 36px;
color: rgb(79, 79, 79);
font-size: 36px;
width: 36px;
height: 36px;
	
}

	.node .forumNodeInfo .nodeIcon,
	.node .categoryForumNodeInfo .nodeIcon
	{
		
	}

	.node .forumNodeInfo.unread .nodeIcon,
	.node .categoryForumNodeInfo.unread .nodeIcon
	{
		
	}

	.node .pageNodeInfo .nodeIcon
	{
		
	}

	.node .linkNodeInfo .nodeIcon
	{
		
	}

.node .nodeText
{
	margin: 10px 270px 10px 56px;

}

	.node .nodeText .nodeTitle
	{	
		font-size: 12pt;
font-family: @majorfont;

	}
	
		.node .unread .nodeText .nodeTitle
		{
			font-weight: @fontweight;

		}

	.node .nodeDescription
	{
		font-size: 11px;

	}
	
	.hasJs .node .nodeDescriptionTooltip
	{
		/* will be shown as a tooltip */
		display: none;
	}
	
	.Touch .node .nodeDescriptionTooltip
	{
		/* touch browsers don't see description tooltips */
		display: block;
	}

	.node .nodeStats
	{
		font-size: 11px;
margin-top: 2px;

	}
	
	.node .nodeExtraNote
	{
		text-align: right;
		font-size: 11px;
		color: rgb(150,150,150);
	}
	
	.node .subForumList
	{
		overflow: hidden; *zoom: 1;
		margin: -5px 0 10px;
		margin-left: 56px;
	}
	
		.node .subForumList li
		{
			float: left;
			width: 31%;
			margin: 2px 0 2px 2%;
		}
		
			.node .subForumList li .nodeTitle
			{
				font-size: 11px;
				overflow: hidden;
				white-space: nowrap;
				word-wrap: normal;
				text-overflow: ellipsis;
			}
			
			.node .subForumList .unread .nodeTitle
			{
				font-weight: @fontweight;

			}
		
			.node .subForumList li ol,
			.node .subForumList li ul
			{
				display: none;
			}

.node .nodeLastPost
{
	background-color: rgb(236, 236, 236);
padding: 10px;
border-bottom: 1px solid rgb(233, 233, 233);

	
	font-size: 11px;
background-color: #ffffff;
padding: 3px 10px;
margin: 10px;
border: 1px solid rgb(233, 233, 233);
-webkit-border-radius: 3px; -moz-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px;
position: absolute;
top: 0;
right: 0;
line-height: 14px;
white-space: nowrap;
word-wrap: normal;
overflow: hidden;
width: 210px;
height: 28px;

}

.node .nodeLastPost .lastThreadTitle
{
	text-overflow: ellipsis;
	max-width: 100%;
	display: block;
	overflow: hidden;
}

	.node .nodeLastPost .lastThreadMeta
	{
		display: block;
	}

	.node .nodeLastPost .noMessages
	{
		line-height: 28px;
	}

.node .nodeControls
{
	position: absolute;
	top: 0;
	right: 242px;
	margin: 20px 0;
}

	.node .tinyIcon
	{
		background: transparent url('styles/titangamer/xenforo/xenforo-ui-sprite.png') no-repeat -112px -16px;
margin: 1px 4px;
display: block;
white-space: nowrap;
text-indent: 9999px;
overflow: hidden;
opacity: 0.25;
width: 14px;
height: 14px;

	}

	.node .nodeInfo:hover .tinyIcon[href],
	.Touch .node .tinyIcon
	{
		opacity: 1;

	}

		/*.node .feedIcon
		{
			background: transparent url('styles/titangamer/xenforo/xenforo-ui-sprite.png') no-repeat -112px -16px;
		}*/

/* description tooltip */

.nodeDescriptionTip
{
	padding: 4px 10px;
margin-top: -22px;
line-height: 1.5;
width: 350px;
height: auto;

}

	.nodeDescriptionTip .arrow
	{
		border: 6px solid transparent;
border-right-color:  rgb(0,0,0); border-right-color:  rgba(0,0,0, 0.6); _border-right-color:  rgb(0,0,0);
border-left: 1px none black;
top: 6px;
left: -6px;
bottom: auto;

	}
	
	.nodeDescriptionTip.arrowBottom .arrow
	{
		top: auto;
		left: 10px;
		bottom: -6px;
		border: 6px solid transparent;
		border-top-color:  rgb(0,0,0); border-top-color:  rgba(0,0,0, 0.6); _border-top-color:  rgb(0,0,0);
		border-bottom: 1px none black;
	}
	
/* main area - used for L2 categories and most other nodes */

.nodeList .categoryForumNodeInfo,
.nodeList .forumNodeInfo,
.nodeList .pageNodeInfo,
.nodeList .linkNodeInfo
{
	background-color: rgb(252, 252, 255);
padding: 10px;
border-bottom: 1px solid rgb(233, 233, 233);

	
	padding: 0;
}

/* category strip - used for L1 categories and group headers */

.nodeList .categoryStrip
{
	font-size: 11px;
font-family: @majorfont;
color: rgb(252, 252, 255);
background-color: rgb(216, 68, 68);
padding: 10px;
margin: 3px auto 0;
text-transform: uppercase;
font-weight: @fontweight;

	
	background-color: rgb(216, 68, 68);
padding: 10px;
margin: 0;
border-bottom-color: ;
-webkit-border-radius: 2px; -moz-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px;
min-height: 6px;
-webkit-box-shadow: inset 0px 0px 10px rgba(51, 51, 51, 0.32); -moz-box-shadow: inset 0px 0px 10px rgba(51, 51, 51, 0.32); -khtml-box-shadow: inset 0px 0px 10px rgba(51, 51, 51, 0.32); box-shadow: inset 0px 0px 10px rgba(51, 51, 51, 0.32);

}

	.nodeList .categoryStrip .nodeTitle
	{
		font-size: 11pt;
font-family: @majorfont;
color: rgb(255, 255, 255);
font-weight: @fontweight;

	}
	
		.nodeList .categoryStrip .nodeTitle a
		{
			color: rgb(255, 255, 255);
		}

	.nodeList .categoryStrip .nodeDescription
	{
		font-size: 10px;
color: #ffffff;

	}
	
		.nodeList .categoryStrip .nodeDescription a
		{
			color: #ffffff;
		}

.nodeList .node.groupNoChildren + .node.groupNoChildren .categoryStrip
{
	display: none;
}

/* node stats area */

.nodeStats
{
	overflow: hidden; zoom: 1;
}

.nodeStats dl,
.subForumsPopup
{
	float: left;
	display: block;
	margin-right: 3px;
}

.subForumsPopup.Popup .PopupControl.PopupOpen
{
	background-image: none;
}

.subForumsPopup a.PopupControl
{
	padding-left: 5px;
	padding-right: 5px;
}

.subForumsPopup .dt
{
	color: rgb(150,150,150);
}

.subForumsPopup .PopupOpen .dt
{
	color: rgb(20,20,20);
}

.subForumsMenu .node .node /* for depths 2+ */
{
	padding-left: 10px;
}

	.subForumsMenu .node .nodeTitle
	{
		font-size: 11px;
	}
	
	.subForumsMenu .node .unread .nodeTitle
	{
		font-weight: @fontweight;

	}
	
/** new discussion button below nodelist **/

.nodeListNewDiscussionButton
{
	margin-top: 10px;
	text-align: right;
}


@media (max-width:610px)
{
	.Responsive .node .nodeText
	{
		margin-right: 0;
	}
	
	.Responsive.Touch .node .nodeDescriptionTooltip,
	.Responsive .node .nodeDescription
	{
		display: none;
	}

	.Responsive .node .nodeLastPost
	{
		position: static;
		height: auto;
		width: auto;
		background: none;
		border: none;
		padding: 0;
		margin: -8px 0 10px 56px;
	}
	
		.Responsive .node .nodeLastPost .noMessages 
		{
			display: none;
		}
		
		.Responsive .node .nodeLastPost .lastThreadTitle,
		.Responsive .node .nodeLastPost .lastThreadUser
		{
			display: none;
		}
				
		.Responsive .node .nodeLastPost .lastThreadDate:before
		{
			content: attr(data-latest);
		}

	.Responsive .node .nodeControls
	{
		display: none;
	}
		
	.Responsive .node .subForumList
	{
		display: none;
	}
	
	.Responsive .nodeDescriptionTip
	{
		width: auto;
		max-width: 350px;
	}
}

@media (max-width:480px)
{
	.Responsive .subForumsPopup
	{
		display: none;
	}
}


/* --- profile_post_list_simple.css --- */

.profilePostListItem
{
	overflow: hidden; zoom: 1;

	margin: 5px 0;
	padding-top: 5px;
	border-top: 1px solid rgb(210, 210, 210);
}

:not(.nonInitial) > .profilePostListItem:first-child
{
	border-top: none;
	padding-top: 0;
}

.profilePostListItem .avatar
{
	float: left;
	font-size: 0;
}

	.profilePostListItem .avatar img
	{
		width: 24px;
		height: 24px;
	}

.profilePostListItem .messageInfo
{
	margin-left: 34px;
}


.profilePostListItem .messageContent article,
.profilePostListItem .messageContent blockquote
{
	display: inline;
}

.profilePostListItem .poster
{
	font-weight: bold;
}

.profilePostListItem .messageMeta
{
	overflow: hidden; zoom: 1;
	font-size: 11px;
	line-height: 14px;
	padding-top: 4px;
}

.profilePostListItem .privateControls
{
	float: left;
}

	.profilePostListItem .privateControls .item
	{
		float: left;
		margin-right: 10px;
	}

.profilePostListItem .publicControls
{
	float: right;
}

	.profilePostListItem .publicControls .item
	{
		float: left;
		margin-left: 10px;
	}
	
.sidebar .statusPoster textarea
{
	width: 100%;
	margin: 0;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;
	resize: vertical;
	overflow: hidden;
}

.sidebar .statusPoster .submitUnit
{
	margin-top: 5px;
	text-align: right;
}

/* --- sidebar_share_page.css --- */

.sidebar .sharePage .shareControl
{
	margin-top: 10px;
	min-height: 23px;
}

.sidebar .sharePage iframe
{
	width: 200px;
	height: 20px;
}

.sidebar .sharePage iframe.fb_ltr
{
	_width: 200px !important;
}

.sidebar .sharePage .facebookLike iframe
{
	z-index: 52;
}

.mast .sharePage .secondaryContent
{
	overflow: visible !important;
}




@media (max-width:480px)
{
	.Responsive .sidebar .sharePage
	{
		display: none;
	}
}


/* --- titangamer.css --- */

/***** NAVBAR *****/
#navWrapper {
	height: 46px;
	background: url(rgba.php?r=46&g=46&b=46&a=255); background: rgb(0, 0, 0); _filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF2E2E2E,endColorstr=#FF2E2E2E);
}
.navTabs .navTab.PopupClosed .navLink {
	color: #FFF;
}
.navTabs .navTab.PopupOpen .navLink {
	color: #FFF;
}
.navTabs .navTab.selected .tabLinks {
	top: 294px !Important;
	background: url(rgba.php?r=0&g=0&b=0&a=127); background: rgba(0, 0, 0, 0.5); _filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);
}
.navTabs .navTab.PopupClosed:hover {
	background: rgb(31, 31, 31);
}
.navTabs .navTab.PopupClosed:hover .SplitCtrl {background: none;}
.navTabs .navTab.PopupClosed:hover .SplitCtrl:before {
	font-family: FontAwesome;
	font-size: 14px;
	color: rgb(216, 68, 68);
	content: '\f103';
	display: inline-block;
}
.navTabs .navLink .itemCount {
	top: 0px;
	right: -1px;
}

#navWrapper {
	height: 46px;
	background: url(rgba.php?r=46&g=46&b=46&a=255); background: rgb(0, 0, 0); _filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF2E2E2E,endColorstr=#FF2E2E2E);
}
.navTabs .navTabEnd.PopupClosed .navLink {
	color: #FFF;
}
.navTabs .navTabEnd.PopupOpen .navLink {
	color: #FFF;
}
.navTabs .navTabEnd.selected .tabLinks {
	top: 294px !Important;
	background: url(rgba.php?r=0&g=0&b=0&a=127); background: rgba(0, 0, 0, 0.5); _filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);
}
.navTabs .navTabEnd.PopupClosed:hover {
	background: rgb(31, 31, 31);
}
.navTabs .navTabEnd.PopupClosed:hover .SplitCtrl {background: none;}
.navTabs .navTabEnd.PopupClosed:hover .SplitCtrl:before {
	font-family: FontAwesome;
	font-size: 14px;
	color: rgb(216, 68, 68);
	content: '\f103';
	display: inline-block;
}
.navTabs .navLink .itemCount {
	top: 0px;
	right: -1px;
}
#moderatorBar {
	background: rgb(31, 31, 31);
	border-bottom: none;
}
#moderatorBar a, #moderatorBar .itemCount {
	color: #F3F3F3;
	font-family: @majorfont;
	font-weight: @fontweight;
}
#moderatorBar a {
	padding: 5px 10px;
}
#moderatorBar a:hover {
	-webkit-border-radius: 0; -moz-border-radius: 0; -khtml-border-radius: 0; border-radius: 0;
	background: url(rgba.php?r=46&g=46&b=46&a=255); background: rgba(46, 46, 46, 1); _filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF2E2E2E,endColorstr=#FF2E2E2E);
	color: #ffffff;
}
#header {background: none;}

/***** NODES *****/
.nodeList .node.level_1 {
	padding: 5px;
	-webkit-border-radius: 5px; -moz-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px;
}

.nodeInfo.forumNodeInfo.primaryContent.unread {
	border-left: 3px solid rgb(216, 68, 68);
}
.node .tinyIcon {
	background: none;
	text-indent: 0;
	width: 11px;
	color: #FF8C18;
	opacity: 0.5;
}

.node .forumNodeInfo .nodeIcon:before, .node .categoryForumNodeInfo .nodeIcon:before {
	content: '\f0e5';
}
.node .forumNodeInfo.unread .nodeIcon:before, .node .categoryForumNodeInfo.unread .nodeIcon:before {
	content: '\f075';
}
.node .pageNodeInfo .nodeIcon:before {
	content: '\f016';
}
.node .linkNodeInfo .nodeIcon:before {
	content: '\f0c1';
}

.node .subForumList li .nodeTitle {
	font-family: @majorfont;
}
.menuRow:before {
	content: '\f0da';
	font-family: FontAwesome;
	font-weight: normal;
	color: rgb(142, 142, 142);
	padding-right: 4px;
	text-decoration: none;
	display: inline-block;
}
.unread .menuRow:before {
	color: rgb(216, 68, 68);
}
/***** SIDEBAR *****/
.sidebar .secondaryContent {
	background-color: transparent;
	padding: 10px 0;
	border-bottom: none;
}
/***** SEARCHBAR *****/
#QuickSearch {
	top: 7px;
	padding-top: 3px;
	padding-bottom: 3px;
	-webkit-border-radius: 2px; -moz-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px;
}
			#QuickSearch #commonSearches .arrowWidget
			{
				margin: 8px 0 0 4px;
			}
.formPopup {
	width: 246px;
}
.formPopup .primaryControls {
	padding: 0 3px;
}
/***** THREAD DISPLAY *****/
.discussionListItem .posterAvatar, .discussionListItem .stats {
	background-color: transparent;
}
.discussionList .lastPost {
	border-right: 1px solid rgb(233, 233, 233);
}
.listBlock.posterAvatar {
	border-left: 1px solid rgb(233, 233, 233);
}
.discussionListItem .stats dl {
	border: none;
}
.quickReply {
	padding-top: 25px;
}
/***** FOOTER *****/
.karma {padding-left: 5px;}
#copyright, a.karma {color: rgb(200,200,200); }


/***** OTHER *****/

/* Sidebar icons */
.fa.fa-share-square-o, .fa.fa-gavel, .fa.fa-users, .fa.fa-info-circle, .fa.fa-commenting-o, .fa.fa-comments-o {padding-right: 5px;}

/* New Thread Button */
a.callToAction span:before {
	font-family: FontAwesome;
	font-size: 12px;
	color: #fff;
	content: '\f044';
	padding-right: 3px;
	font-weight: normal;
}
/* Post Links - Buttons */
.messageList a.LikeLink.item.control.like:before {
	font-family: FontAwesome;
	font-size: 12px;
	content: '\f087';
	padding-right: 3px;
	font-weight: normal;
}
.messageList a.LikeLink.item.control.unlike:before {
	font-family: FontAwesome;
	font-size: 12px;
	content: '\f088';
	padding-right: 3px;
	font-weight: normal;
}
.messageList a.ReplyQuote.item.control.reply:before {
	font-family: FontAwesome;
	font-size: 12px;
	content: '\f10d';
	padding-right: 3px;
	font-weight: normal;
}
.message .publicControls a.MultiQuoteControl {
	padding: 3px 10px;;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px;
}
.messageList a.item.control.warn:before {
	font-family: FontAwesome;
	font-size: 12px;
	content: '\f071';
	padding-right: 3px;
	font-weight: normal;
}
.messageList a.OverlayTrigger.item.control.report:before {
	font-family: FontAwesome;
	font-size: 12px;
	content: '\f11d';
	padding-right: 3px;
	font-weight: normal;
}
.messageList a.item.control.ip.OverlayTrigger:before {
	font-family: FontAwesome;
	font-size: 12px;
	content: '\f0ac';
	padding-right: 3px;
	font-weight: normal;
}
.messageList a.item.control.history.ToggleTrigger:before {
	font-family: FontAwesome;
	font-size: 12px;
	content: '\f1da';
	padding-right: 3px;
	font-weight: normal;
}
.messageList a.item.control.delete.OverlayTrigger:before {
	font-family: FontAwesome;
	font-size: 12px;
	content: '\f014';
	padding-right: 3px;
	font-weight: normal;
}
.messageList a.item.control.edit.OverlayTrigger:before {
	font-family: FontAwesome;
	font-size: 12px;
	content: '\f040';
	padding-right: 3px;
	font-weight: normal;
}
.messageList .item.muted, .messageList .InlineModCheck.item {
	margin-top: 5px;
}

/* Breadcrumb */
.breadcrumb .jumpMenuTrigger {background: none; text-indent: 0;}
.breadcrumb .jumpMenuTrigger:before {
	font-family: FontAwesome;
	font-size: 13px;
	color: rgb(142, 142, 142);
	content: '\f041';
	display: inline-block;
}
.breadcrumb .crust .arrow:after {
 	content: '\f105';
 	font-family: FontAwesome;
  	margin-left: -14px;
	line-height: 22px;
}
.breadcrumb .crust:last-child .arrow:after {content: '';}

/* Popup Menus */
.Menu .secondaryContent, .Menu .primaryContent {
	background: #fff;
}
/* Notices */
.PanelScroller .navControls a {border: none;}

/* Text Input */
.textCtrl:hover {
	border: 1px solid rgb(224, 223, 222);
}
.textCtrl:focus, .textCtrl.Focus {
	background: #fff;
	border: 1px solid rgb(210, 210, 210);
}
/* Profile Follow Text */
.textWithCount.subHeading .text {
	color: rgb(236, 236, 236);
}
/* User Banner */
.userBanner.bannerStaff {
	border-color: rgb(210, 210, 210);
}
.userBanner {
	font-family: @majorfont;
}
/* Style Chooser */
.chooserColumns span.icon {
	background-color: rgb(224, 223, 222);
	border-color: rgb(142, 142, 142);
	-webkit-border-radius: 0; -moz-border-radius: 0; -khtml-border-radius: 0; border-radius: 0;
	-webkit-box-shadow: 0px 0px 6px rgba(0,0,0, 0.25); -moz-box-shadow: 0px 0px 6px rgba(0,0,0, 0.25); -khtml-box-shadow: 0px 0px 6px rgba(0,0,0, 0.25); box-shadow: 0px 0px 6px rgba(0,0,0, 0.25);
}
ol.chooserColumns li a {-webkit-border-radius: 0; -moz-border-radius: 0; -khtml-border-radius: 0; border-radius: 0;}

/* Various Menu Hover */
ol.chooserColumns li a:hover, .navigationSideBar a:hover {
	background: rgb(236, 236, 236);
}
/* BB Codes */
.bbCodeBlock {
	margin: 1em 100px 1em 40px;
}
.fa.fa-quote-left {
	position: absolute;
	margin-top: 5px;
	margin-left: -20px;
	color: rgb(106, 106, 106);
}
.bbCodeQuote .quoteContainer .quoteExpand {
	color: rgb(142, 142, 142);
}
.primaryContent .bbCode > dl > dd {
	border-color: rgb(224, 223, 222);
	background: rgb(233, 233, 233);
	-webkit-border-radius: 0; -moz-border-radius: 0; -khtml-border-radius: 0; border-radius: 0;
}
/* xengallerySideBar */

.xengalleryPage .xengallerySideBarContainer .xengallerySideBar .section h3 
{
	font-size: 10pt;
font-family: @majorfont;
color: rgb(252, 252, 255);
background-color: rgb(79, 79, 79);
padding: 8px;
margin-bottom: 5px;
border-left: 5px solid rgb(216, 68, 68);
text-transform: uppercase;
font-weight: @fontweight;

	border-bottom: none;
}

/**** RESPONSIVE ****/

@media (max-width:800px) {

  
}

@media (max-width:610px) {
	
	#DiscussionListOptionsHandle a {margin: 0 auto 6px; font-weight: normal; padding: 0 8px;}
	.sectionFooter.InlineMod.SelectionCountContainer {font-weight: normal;}
  
}

@media (max-width:480px) {

  
}


/**** Titan Gamer Style Properties ****/