/* general styling */
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@500&display=swap');

:root {
  --smaller: .75;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  background-color: black;
  display: flex;
  font-family: 'Geologica', sans-serif;
  background-image: url(streak_out_banner_1920_alpha.png);
  background-size: cover;
  background-position: center;
}

.container {
  margin: 0 auto;
  text-align: center;
  color: white;
  margin-top: 25%;;
  zoom: 0.6;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

a{
  color: white;
  text-decoration: none;
}

h1 {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 .5rem;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: calc(1.5rem * var(--smaller));
  }
  
  li {
    font-size: calc(1.125rem * var(--smaller));
  }
  
  li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}